<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Appointment - HealthyLife</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/appointment.css') }}"
    />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="nav-left">
          <img
            src="{{ url_for('static', filename='assets/logo.png') }}"
            alt="Logo"
            class="logo-img"
          />
          <div class="logo-text">HealthyLife</div>
        </div>
        <ul class="nav-links">
          <li><a href="{{ url_for('home.index') }}">HOME</a></li>
          <li><a href="{{ url_for('diagnostic_bp.page') }}">DIAGNOSTIC</a></li>
          <li>
            <a
              href="{{ url_for('appointments.appointment_page') }}"
              class="active"
              >APPOINTMENT</a
            >
          </li>
          <li>
            <a href="{{ url_for('admin_bp.dashboard_page') }}">DASHBOARD</a>
          </li>
        </ul>
      </nav>
    </header>
    <script
      src="{{ url_for('static', filename='js/appointment.js') }}"
      defer
    ></script>
  </body>
</html>
