<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HealthyLife</title>
    <link rel="stylesheet"href="{{ url_for('static', filename='css/index.css') }}"/>
  </head>
  <body>
    <!-- Navbar -->
    <header>
      <nav class="navbar">
        <div class="nav-left">
          <img src="{{ url_for('static', filename='assets/logo.png') }}" alt="Logo" class="logo-img"/>
          <div class="logo-text">HealthyLife</div>
        </div>
        <ul class="nav-links">
          <li><a href="{{ url_for('home.index') }}">HOME</a></li>
          <li><a href="#about">ABOUT</a></li>
          <li><a href="#faq">FAQ</a></li>
          <li><a href="#contact">SUPPORT</a></li>
        </ul>
      </nav>
    </header>

    <!-- Hero Section -->
    <section class="hero">
      <!-- Left Section -->
      <div class="hero-text">
        <h1>The Future Medical Ways</h1>
        <p>
          Predict multiple diseases quickly and accurately with our advanced
          platform <br />
          — your health, simplified!
        </p>

        <!-- Predict Button  And Appointment Button -->
        <button class="btn" id="predictBtn">Predict Now</button>
        <button class="btn" id="appointmentBtn">Appointment Now</button>

        <!-- Chatbot Button -->
        <div class="chatbot-container" id="chatbotIcon">
          <img src="{{ url_for('static', filename='assets/chatbot.png') }}"alt="Chatbot" class="chatbot-img"/>
          <div class="chatbot-label">Ask Me!!</div>
        </div>
      </div>

      <!-- Right Side Doctor Image -->
      <div class="hero-images">
        <div class="grid">
          <img id="img1"src="{{ url_for('static', filename='assets/doc1.png') }}"alt="Doctor 1"/>
        </div>
      </div>

    <!-- Chat Popup -->
    <div id="chatPopup" class="chat-popup">
      <div class="chat-header">
        <h3>AI Virtual Nurse</h3>
        <span id="closeChat">&times;</span>
      </div>
      <div class="chat-body" id="chatBody">
        <p><b>Bot:</b> Hi 👋 How can I help you today?</p>
      </div>
      <div class="chat-footer">
        <input type="text" id="userInput" placeholder="Type a message..." />
        <button id="sendBtn">Send</button>
      </div>
    </div>

   
    <script src="{{ url_for('static', filename='js/index.js') }}"defer></script>
    <script src="{{ url_for('static', filename='js/chatbot.js') }}"defer></script>
  </body>
</html>
