/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(to bottom, #0a0f2c, #13235c);
  color: #fff;
  min-height: 100vh;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
}

.logo-img {
  width: 40px;
  margin-right: 10px;
}

.nav-left {
  display: flex;
  align-items: center;
}

.logo-text {
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.nav-links a:hover,
.nav-links a.active {
  color: #1da1f2;
}

/* Lab Test Section */
.labtest {
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.labtest h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

.labtest p {
  color: #ccc;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 15px;
  text-align: left;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: none;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  color: #000000;
}

.btn {
  margin-top: 20px;
  padding: 12px 28px;
  border: none;
  border-radius: 25px;
  background: #fff;
  color: #1e3eff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  background: #1e3eff;
  color: #fff;
}

/* Result */
.result-box {
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(0, 255, 255, 0.1);
  border-radius: 10px;
  display: none;
  text-align: left;
}
