<!doctype html>
<html>
  <body
    style="font-family: Arial, sans-serif; background: #f6f8fa; padding: 20px"
  >
    <div
      style="
        max-width: 520px;
        background: white;
        margin: auto;
        border-radius: 8px;
        padding: 20px;
        border: 1px solid #e3e8ee;
      "
    >
      <div style="text-align: center">
        <img
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTM6L2JUvwQf2pbMnhXZKUD06Br7aWYCOk4YA&s"
          width="120"
        />
        <h2 style="color: #2c7be5">Registration Received</h2>
      </div>

      <p>Hello <strong>Dr. {{ doctor_name }}</strong>,</p>

      <p>
        Thank you for registering with
        <strong>HealthyLife Healthcare Platform</strong>. We have successfully
        received your doctor registration request along with your professional
        details.
      </p>

      <p style="margin-top: 15px">
        Our team will carefully review your application to ensure medical and
        platform compliance. You will receive a confirmation email once the
        verification process is complete.
      </p>

      <p>
        If additional information is required, our support team will contact
        you.
      </p>

      <hr style="margin: 25px 0" />

      <p style="text-align: center; font-size: 12px; color: #777">
        Thank you for choosing <strong>HealthyLife</strong>
      </p>

      <p style="text-align: center; font-size: 12px; color: #777">
           HealthyLife © {{ year }}<br />
        Authorized by <strong>Mahboob Attar</strong>
    </div>
  </body>
</html>
